.cell {
  background-color: #000;
  border: 1px solid #000;
  width: 20px;
}
.row {
  width: 200px;
  height: 20px;
  display: flex;
  justify-content: space-around;
}
.I {
  background-color: #00FFFF;
}
.J {
  background-color: #0000FF;
}
.L {
  background-color: orange;
}
.O {
  background-color: yellow;
}
.S {
  background-color: green;
}
.T {
  background-color: purple;
}
.Z {
  background-color: red;
}
