.cell {
  background-color: #000;
  border: 1px solid #000;
  width: 20px;
}
.row {
  width: 200px;
  height: 20px;
  display: flex;
  justify-content: space-around;
}
.I {
  background-color: #3498db;
}
.J {
  background-color: #2980b9;
}
.L {
  background-color: #e67e22;
}
.O {
  background-color: #f1c40f;
}
.S {
  background-color: #2ecc71;
}
.T {
  background-color: #9b59b6;
}
.Z {
  background-color: #e74c3c;
}
